body.dark {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.light {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    color: green;
}